.top-bar {
    margin-bottom: 2rem;
}
span#timer {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-rendering: optimizeLegibility;
  font-size: 10em;
  text-align: center;
  display: block;
  margin-top: .2em;
}
div#control-bar {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
div.center {
    text-align: center;
}
label.inline {
    display: inline;
}
.alert-box.warning a {
    color: white;
    text-decoration: underline;
}
div.chart {
    width: 100%;
    height: 300px;
}
.bar {
    fill: steelblue;
}
.axis text {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
